.add_customer_modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.42);
}

.add_customer_modal_container {

    .modal_content {
        background-color: white;
        border-radius: 10px;
        margin-inline: auto;
        width: 70vw;
        height: 80vh;
        max-width: 900px;
        max-height: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px;

        .modal_header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: fit-content;

            h2 {
                font-weight: normal;
                margin: 0;
                padding: 0;
            }
        }

        .modal_form {
            min-height: 350px;
            padding-bottom: 15px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: auto;
            margin-inline: auto;
            gap: 15px;

            .input_group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                gap: 15px;
                margin-inline: auto;

                label {
                    font-weight: bolder;
                    color: #3a3a3a;
                }

                input {
                    min-width: 200px;
                    border: 2px solid #d8d8d8;
                    padding: 10px;
                    outline: none;
                    border-radius: 10px;
                }

                input:focus, input:hover {
                    border: 2px solid #58a9dc;
                }

                .input_error {
                    border: 2px solid #f64a4a;
                }
            }

        }

        .button_tray {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            margin-inline: auto;
            gap: 15px;

            button {
                padding: 8px;
                min-width: 80px;
                width: 5vw;
                min-height: 2vw;
                font-size: 1rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: background-color .3s ease-in-out, color .3s ease-in-out;
            }
        }

    }

}