.App {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.add_button {
  background-color: #58a9dc;
  color: white;
}

.add_button:hover {
  background-color: #3c7598;
  color: #b6b6b6;
}

.clear_button {
  background-color: #686868;
  color: white;
}

.clear_button:hover {
  background-color: #474747;
  color: #b6b6b6;
}

.cancel_button {
  color: #fff;
  background-color: #ec9393;
}

.cancel_button:hover {
  background-color: #9f6262;
  color: #b6b6b6;
}

.close_button {
  color: #000;
  cursor: pointer;
}

.form_error {
  color: #f64a4a;
  width: 80%;
  padding: 5px;
  margin-inline: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}